@use 'const';

.inputAndButton {
  margin: 27px auto 0;
  display: flex;
  justify-content: space-between;
  height: 58px;
  width: min(87.2%, 555px);
  background-color: white;
  border-radius: const.$border-r;
}

.txtInput {
  border: none;
  flex-grow: 1;
  background-color: white;
  border-radius: const.$border-r 0 0 const.$border-r;
  color: const.$dark-gray-txt;
  caret-color: black;
  padding-left: 25px;
  font-weight: 400;
  font-size: 18px;
}


.button {
  width: 58px;
  border-radius: 0 const.$border-r const.$border-r 0;
  border: none;
  background-color: black;
  transition: background-color 0.15s linear;
  margin-top: 0; // for webkit
  margin-bottom: 0; // for webkit
}

.button:hover {
  background-color: const.$gray-btn;

}