@use 'const';
$border-r: 14px;

.container {
  font-family: 'Rubik', sans-serif;
}

.layer0 {
  z-index: 0;
  margin: 0 auto;

  /* border: 1px solid white; */
  max-width: 1440px;
  top: 0;
}

.h1 {
  font-weight: 500;
  color: white;
  margin: 0;
  text-align: center;
}

.bgImg {
  height: 280px;
  width: min(100%, 1440px);
  object-position: 50% 50%;
  object-fit: cover;
}

.layer1 {
  position: absolute;
  z-index: 1;
  padding-top: 29px;
  width: min(1440px, 100%);
  left: 50%;
  transform: translateX(-50%);
}

.inputAndButton {
  margin: 27px auto 0;
  display: flex;
  justify-content: space-between;
  height: 58px;
  width: min(87.2%, 555px);
  background-color: white;
  border-radius: $border-r;
}

.txtInput {
  border: none;
  flex-grow: 1;
  background-color: white;
  border-radius: $border-r 0 0 $border-r;
  color: const.$dark-gray-txt;
  caret-color: black;
  padding-left: 25px;
  font-weight: 400;
  font-size: 18px;
}


.button {
  width: 58px;
  border-radius: 0 $border-r $border-r 0;
  border: none;
  background-color: black;
  transition: background-color 0.15s linear;
}

.button:hover {
  background-color: const.$gray-btn;

}

.panelFull {
  width: min(87.2%, 1110px);
  height: 161px;
  margin: 48px auto 0;
  background-color: white;
  border-radius: $border-r;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0 4px 24px rgba(63, 63, 63, 0.15);
}

.panelLeft, .panelRight {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  width: max(500px, 50%);
}

.map {
  height: 480px;
  z-index: 0;
  width: min(100%, 1440px);
}

@mixin separatorLn {
  width: 1px;
  height: 74px;
  background-color: const.$light-gray;
  align-self: center;
  transform: translateY(-12px);
}

.separatorLnMid {
  @include separatorLn;
}

.separatorLn {
  @include separatorLn;
}


@media screen and (max-width: 1159px) {
  .separatorLnMid {
    width: 0;
  }

  .panelFull {
    height: 161px;
    padding: 10px 0;
    display: block;
  }

  .panelLeft {
    flex-grow: 1;
    margin-top: 0;
    align-items: right;
    width: 100%;
  }

  .panelRight {
    flex-grow: 1;
    margin-top: 0;
    width: 100%;
  } 

  .separatorLn {
    height: 48px;
    transform: translateY(0);
  }
}

@media screen and (max-width: 839px) {
  .separatorLn {
    width: 0;
  }

  .h1 {
    font-size: 26px;
  }

  .layer1 {
    padding-top: 26px;
  }

  .inputAndButton {
    margin-top: 28px;
  }

  .panelFull {
    margin-top: 24px;
    height: 294px;

  }

  .panelLeft {
    margin-top: 17px;
  }

  .panelLeft, .panelRight {
    display: block;
    margin-top: 0;
  }

  .separatorLn, .separatorLnMid {
    height: 0px;
  }

  .bgImg {
    height: 300px;
  }
}
